* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #e0d8b0c9;
}

main {
    background-image: url(tablebackground.jpg);
    background-position: fixed;
}

.main-header {
    background: #CE9461;
    padding: 10px;
}

.nav_links {
    text-decoration: none;
    color: #E0D8B0;
    margin-left: 15px;
}

.nav_links:hover {
    color: #FCFFE7;
}

a.nav_links::before {
    content: '\2022';
    padding: 3px;
}

.nav_links:hover::before {
    color: #FCFFE7;
}

.nav_link {
    text-decoration: none;
    color: #E0D8B0;
    font-weight: bold;
    font-size: larger;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 91px);
    text-align: right;
}

.main-nav_items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-nav_item {
    display: inline-block;
}

#anabaslik {
    margin: auto;
    width: 100%;
    padding: 30px;
}

h1 {
    padding: 20px;
    margin: auto;
    background-color: #f0f8ff6b;
    border: 5px #de9f579f;
    border-style: double;
    width: 70%;
    text-align: center;
}

#nasilyapilir {
    color: #FCFFE7;
    text-align: center;
    margin: 30px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #de9f57a9;
    border: 2px solid #fcffe752;
}

#nasil1 {
    font-size: 30px;
    height: 80px;
}

#nasil1_ {
    font-weight: lighter;
}

#nasil2,
#nasil3,
#nasil4 {
    height: 50px;
    font-size: 25px;
}

#nasil2_,
#nasil3_,
#nasil4_ {
    width: 280px;
    font-size: 15px;
}

#icerik {
    background-color: #CE9461;
    width: 100%;
    height: 22px;
    margin-top: 50px;
    text-align: center;
}

#icerik_baslık {
    width: max-content;
    background-color: #E0D8B0;
    color: #ca8d47;
    border-left: 5px solid white;
    border-right: 5px solid white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.dügmeler {
    margin: 100px auto;
    margin-bottom: 50px;
    text-align: center;
}

#icon {
    color: #DEA057;
}

.dügmeler>a {
    display: inline-block;
    text-decoration: none;
    width: 150px;
    height: 180px;
    padding: 70px 20px 20px;
    margin: auto 30px;
}

.dügmeler>a:link {
    border: 1.5px solid #CE9461;
    border-radius: 10%;
    background-color: #CE9461;
    color: white;
    font-weight: bold;
}

.dügmeler>a:visited {
    color: white;
    border: #CE9461;
    border-radius: 10%;
}

.dügmeler>a:hover {
    background-color: #E0D8B0;
    border: 1.5px solid #E0D8B0;
    color: #CE9461;
    border-radius: 10%;
}

.dügmeler>a:active {
    background-color: #DEA057;
    color: #FCFFE7;
    border: 1.5px solid #DEA057;
    border-radius: 10%;
}