* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #E0D8B0;
    font-family: 'Poppins', sans-serif;
}

main {
    background-image: url(tablebackground.jpg);
    background-position: center;
}

.main-header {
    background: #CE9461;
    padding: 10px;
}

.nav_links {
    text-decoration: none;
    color: #E0D8B0;
    margin-left: 15px;
}

.nav_links:hover {
    color: #FCFFE7;
}

a.nav_links::before {
    content: '\2022';
    padding: 3px;
}

.nav_links:hover::before {
    color: #FCFFE7;
}

.nav_link {
    text-decoration: none;
    color: #E0D8B0;
    padding: 4px 4px;
    font-weight: bold;
    font-size: larger;
    border: 2px solid #E0D8B0;
    border-radius: 30%;
}

.nav_link:hover {
    color: #CE9461;
    background-color: #E0D8B0;
    border-color: #CE9461;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 115px);
    text-align: right;
}

.main-nav_items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-nav_item {
    display: inline-block;
}

#anabaslik {
    margin: auto;
    width: 100%;
    padding: 30px;
}

h1 {
    padding: 20px;
    margin: auto;
    background-color: #f0f8ff6b;
    border: 5px #de9f579f;
    border-style: double;
    width: 70%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#nasilyapilir {
    color: #FCFFE7;
    text-align: center;
    margin: 30px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #de9f57a9;
    border: 2px solid #fcffe752;
}

#nasil1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80px;
}

#nasil1_ {
    font-weight: 400;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nasil2,
#nasil3,
#nasil4 {
    height: 50px;
    font-size: 25px;
}

#nasil2_,
#nasil3_,
#nasil4_ {
    width: 280px;
    font-size: 15px;
}

#icerik {
    background-color: #CE9461;
    width: 100%;
    height: 29px;
    margin-top: 50px;
    text-align: center;
}

#icerik_baslık {
    width: max-content;
    background-color: #E0D8B0;
    color: #ca8d47;
    border-left: 5px solid white;
    border-right: 5px solid white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.dügmeler {
    margin: 100px auto;
    margin-bottom: 100px;
    text-align: center;
}

#icon {
    color: #DEA057;
}

.dügmeler>a {
    display: inline-block;
    text-decoration: none;
    width: 150px;
    height: 180px;
    padding: 70px 20px 20px;
    margin: auto 30px;
}

.dügmeler>a:link {
    border: 1.5px solid #CE9461;
    border-radius: 10%;
    background-color: #CE9461;
    color: white;
    font-weight: bold;
}

.dügmeler>a:visited {
    color: white;
    border: #CE9461;
    border-radius: 10%;
}

.dügmeler>a:hover {
    background-color: #E0D8B0;
    border: 1.5px solid #E0D8B0;
    color: #CE9461;
    border-radius: 10%;
}

.dügmeler>a:active {
    background-color: #DEA057;
    color: #FCFFE7;
    border: 1.5px solid #DEA057;
    border-radius: 10%;
}

.features {
    margin-bottom: 50px;
}

#features__photo {
    width: 50%;
    display: inline-block;
}

#features__content {
    width: 45%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

#content {
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
    margin-top: 50px;
}

#features__link {
    text-decoration: none;
    display: inline-block;
    color: #CE9461;
    border: 2.5px solid #CE9461;
    padding: 3px;
    margin-top: 20px;
    margin-left: 12px;
}

#features__link:hover {
    color: #E0D8B0;
    background-color: #CE9461;
    border: 2.5px solid #E0D8B0;
}

.plans {
    margin: 10px auto;
    padding: 10px;
    width: 98%;
}

.planbaslık {
    text-align: center;
    margin: 30px;
    margin-bottom: 40px;
    font-size: x-large;
}

.plan {
    float: left;
    text-align: center;
    border: 1px solid #CE9461;
    color: #FCFFE7;
    background-color: #CE9461;
    width: 30%;
    margin: 10px;
}

.plan>h4,
.plan>h3,
.plan>p,
.plan>button {
    margin: 15px;
}

.plan>ul {
    list-style-type: none;
    text-align: center;
    padding-left: 30px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.yer {
    width: 98%;
    margin: 0 50px;
}