#container {
    background-color: black;
}

.box {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}