@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    background-color: #F6F6F6;
    color: #212121;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 1rem .5rem;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.navbar {
    display: flex;
    padding: 1rem;
    background-color: rgba(33, 33, 33, 0.801);
    color: var(--beige);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar h1 {
    font-weight: 600;
    font-size: 3.6rem;
    align-self: center;
    margin-left: 1.5rem;
}

.navbar i {
    padding: .3rem 0rem;
}

.navbar span {
    color: var(--seagreen);
}

.navbar-links {
    align-self: center;
    display: flex;
    margin-right: 1.5rem;
}

.navbar-links li {
    padding: 1rem;
    border-bottom: .3rem solid transparent;
}

.navbar-links li:hover {
    border-bottom: .3rem solid var(--seagreen);
    transition: all .3s;
}

.navbar-links a {
    color: var(--beige);
    align-self: center;
    font-size: 1.8rem;
}

.main-header {
    background-image: url('../img/kapak.jpeg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-header::before {
    content: ' ';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header * {
    z-index: 10;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.content h1 {
    color: var(--offwhite);
    font-size: 6rem;
    margin-bottom: 1rem;
}

.content p {
    color: var(--offwhite);
    font-size: 2.8rem;
    margin: .5rem 0;
    max-width: 65rem;
    font-weight: 300;
}

.content button {
    width: 15rem;
    height: 4rem;
    margin-top: 1.5rem;
    border-radius: .3rem;
}

.icons {
    padding: 2.5rem;
}

.icons i {
    background-color: var(--darkbrown);
    color: var(--beige);
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.column-2 h2 {
    font-size: 5rem;
}

.column-2 button {
    margin: .5rem;
    background-color: var(--beige);
    border-color: var(--beige);
}

.column-2 button:hover {
    color: var(--beige);
}

.gallery .row .column img:hover {
    cursor: pointer;
    opacity: 0.85;
}

.card-body {
    background-color: var(--seagreen);
    color: var(--darkbrown);
    padding: 1.8rem;
}

.card-body h3 {
    font-size: 3rem;
    font-weight: 700;
}

.card-body p {
    font-size: 2rem;
    font-weight: 400;
}

.staff img {
    border-radius: 50%;
}

.staff img:hover {
    opacity: 0.8;
}

.staff h3 {
    font-size: 2rem;
    margin-bottom: 0;
}