@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

:root {
    --white: #fff;
    --off-white: #F6F6F6;
    --cream: #D9CAB3;
    --mint: #6D9886;
    --darkbrown: #212121;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: .5rem;
}