* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    background: #E0D8B0;
    font-family: 'Poppins', sans-serif;
    margin: 0rem;
    font-size: 1.5rem;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-bottom: 5rem;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.col3 {
    float: left;
    width: 33.3%;
}

.bolum {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* phones */
@media (min-width: 300px) and (max-width: 600px) {
    body {
        font-size: 1.6rem;
    }

    .bolum {
        min-width: 280px;
        max-width: 580px;
    }
}


/* tablets */
@media (min-width: 600px) and (max-width: 1000px) {
    html {
        font-size: 68.75%;
    }

    .bolum {
        min-width: 580px;
        max-width: 980px;
    }
}


/* desktop */
@media (min-width: 1000px) and (max-width:1200px) {
    html {
        font-size: 75%;
    }

    .bolum {
        min-width: 980px;
        max-width: 1180px;
    }
}

/* large desktop */
@media (min-width: 1200px) and (max-width: 1400px) {
    html {
        font-size: 87.5%;
    }

    .bolum {
        min-width: 1180px;
        max-width: 1380px;
    }
}

/* xlarge desktop */
@media (min-width: 1400px) {
    html {
        font-size: 100%;
    }

    .bolum {
        min-width: 1380px;
    }
}