.signup {
    background-color: #E0D8B0;
    width: 60%;
    margin: auto;
}

.signup>h1 {
    width: 100%;
    text-align: center;
    color: #CE9461;
}

.signupform {
    width: 100%;

}

.signupform label,
.signupform input:not([type="checkbox"]),
.signupform select {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.signupform input[type="checkbox"],
.signupform input[type="checkbox"]+label {
    display: inline-block;
    width: auto;
}

.signupform>label {
    font-size: 18px;
}

.signup button {
    margin: 10px 5px;
}

.signupform input:not([type="checkbox"]),
.signupform select {
    border: 1px solid #E0D8B0;
    padding: 10px 15px;
}

.signupform input:not([type="checkbox"]):focus,
.signupform select:focus {
    outline: none;
    background-color: #E0D8B0;
    color: #fff;
    border: 1px solid #CE9461;
}

.signupform input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #E0D8B0;
    background: #fff;
}

.signupform input[type="checkbox"]:hover {
    background-color: #CE9461;
}

.signupform input[type="checkbox"]:checked {
    background-color: #CE9461;
}