@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@300;500;700&family=Merriweather:ital,wght@1,300;1,400;1,700&display=swap');
@import url(utils.css);

/* navbar */
.navbar {
    background-color: var(--yeşil);
    position: sticky;
    color: var(--krem);
    z-index: 10;
    top: 0;
}

.navbar>.container {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    align-items: center;
    padding: 0.5rem;
}

.navbar ul {
    display: flex;
    justify-self: flex-start;
}

.navbar ul li a {
    padding: 0.8rem;
    font-size: 1.8rem;
    border-left: 0.3rem solid transparent;
}

.navbar .fa-neos {
    justify-self: center;
    padding: .6rem;
}

.navbar a:hover {
    color: var(--lacivert);
    transition: all 0.5s;
}

.navbar ul li a:hover {
    border-left: 0.3rem solid var(--lacivert);
    transition: all 0.5s;
}


.social-links a {
    padding: .8rem;
}

/* header */

.header {
    background-color: var(--lacivert);
    padding: 3rem;
    position: relative;
    color: var(--krem);
}

.header::before {
    content: ' ';
    background-image: url(../img/rowing.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.header .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 50vh;
}

.header-content {
    /* background-color: #1827478e; */
    z-index: 8;
    padding: 0.4rem;
}

/* articles */

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.articles .article h3 {
    color: var(--yeşil);
    font-family: 'Gloock', serif;
}

/* footer */

footer {
    background-color: var(--yeşil);
    padding: 1rem;
    margin-top: 2rem;
    color: var(--krem);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.footer-content>div {
    padding: 0 1rem;
}

.fa-neos.fa-6x {
    margin: 1.5rem 0;
}

.subscribe input {
    padding: .5rem;
}

.links ul li {
    padding: 0.7rem 0;
    border-bottom: .2rem dotted #182747c4;
    align-items: start;
}

.links ul li a:hover {
    color: var(--lacivert);
}

.copyright {
    text-align: center;
    background-color: #182747c4;
    color: var(--krem);
    padding: 1rem;
    margin: 1rem 0;
}

.article-page {
    margin: 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2.5rem;
}

.article-page>*:first-child {
    grid-row: 1 / span 3;
}

.article-info {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0.8rem;
    background-color: var(--yeşil);
    border-radius: 20px;
    color: var(--krem);
    align-items: center;
}

.article-page .subscribe {
    border: 0.1rem double var(--yeşil);
    padding: 1rem;
}

.article-page a {
    color: var(--kahverengi);
}

.article-page .article p {
    margin: 0.5rem;
}